header {
    margin-bottom: 15px;
    background-color: $clr1;
    padding: 10px 10px;
    .logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .title {
        height: 30px;
        object-fit: contain;
    }
}
