.avatar {
    margin-bottom: 15px;
    .avatar-img {
        margin-bottom: 5px;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        border: 2px solid black;
    }
    .points {
        h4 {
            margin: 0 5px;
        }
        .img-coin {
            border: 0;
            width: 15px;
            height: 15px;
        }
    }
}
