.game-app {
    margin-bottom: 35px;
    .canvas-container {
        margin-bottom: 35px;
        border: 2px solid black;
    }
    canvas {
        width: 350px;
        height: 175px;
    }
    .btn-finish-game {
        align-self: end;
        font-size: rem(11px);
        background-color: $clr10;
    }
}
