.home-page {
    margin-bottom: 35px;
    h1 {
        color: $clr3;
    }
    .how {
        text-decoration: underline;
    }
    ol {
        border: 2px solid $clr7;
        text-align: left;
        li {
            margin-bottom: 8px;
        }
    }
    button {
        margin-bottom: 35px;
    }
}
