button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: rem(17px);
    padding: 10px;
    color: white;
    background-color: $clr3;
    &:hover {
        opacity: 0.8;
    }
}
