@font-face {
    font-family: SourceSansPro-Black;
    src: url(../../../assets/fonts/SourceSansPro-Black.ttf);
}
@font-face {
    font-family: SourceSansPro-Bold;
    src: url(../../../assets/fonts/SourceSansPro-Bold.ttf);
}
@font-face {
    font-family: SourceSansPro-Semi;
    src: url(../../../assets/fonts/SourceSansPro-SemiBold.ttf);
}
@font-face {
    font-family: SourceSansPro-Reg;
    src: url(../../../assets/fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: SourceSansPro-Light;
    src: url(../../../assets/fonts/SourceSansPro-Light.ttf);
}
