// COLORS

$bgcColor: #ebecf0;
$fontColor: #20242b;

$clr1: #61bd4f;
$clr2: #f2d600;
$clr3: #ff9f1a;
$clr4: #eb5a46;
$clr5: #c377e0;
$clr6: #5ba4cf;
$clr7: #51e898;
$clr8: #2acce5;
$clr9: #ff8ed4;
$clr10: #172b4d;
$clr11: #b3bac5;

// BREAKPOINTS:
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
